<table class="table table-hover table-borderless table-responsive">
    <caption>Lista de Usuários</caption>
    <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Email</th>
            <th scope="col">Sexo</th>
            <th scope="col">CPF</th>
            <th scope="col">RG</th>
            <th scope="col">Telefone</th>
            <th scope="col">Nascimento</th>
            <th scope="col">EstadoCivil</th>
            <th scope="col">CEP</th>
            <th scope="col">Endereço</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clientList">
            <td scope="row">{{client.Id}}</td>
            <td scope="row">{{client.Nome}}</td>
            <td scope="row">{{client.Sobrenome}}</td>
            <td scope="row">{{client.Email}}</td>
            <td scope="row">{{client.Sexo}}</td>
            <td scope="row">{{client.CPF}}</td>
            <td scope="row">{{client.RG}}</td>
            <td scope="row">{{client.Telefone}}</td>
            <td scope="row">{{client.DataNascimento}}</td>
            <td scope="row">{{client.EstadoCivil}}</td>
            <td scope="row">{{client.CEP}}</td>
            <td scope="row">{{client.Endereco}}</td>
            <td scope="row"><a [routerLink]="['/alter', client.Id]"><img src="../../../assets/images/edit.svg" alt="edit" ></a></td>
        </tr>
    </tbody>
</table>
