<table class="table table-hover table-borderless table-responsive">
    <caption>Lista de Usuários</caption>
    <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Email</th>
            <th scope="col">Sexo</th>
            <th scope="col">CPF</th>
            <th scope="col">RG</th>
            <th scope="col">Telefone</th>
            <th scope="col">Nascimento</th>
            <th scope="col">EstadoCivil</th>
            <th scope="col">CEP</th>
            <th scope="col">Endereço</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clientList">
            <td scope="row">{{client.id}}</td>
            <td scope="row">{{client.name}}</td>
            <td scope="row">{{client.surname}}</td>
            <td scope="row">{{client.email}}</td>
            <td scope="row">{{client.gender}}</td>
            <td scope="row">{{client.cpf}}</td>
            <td scope="row">{{client.rg}}</td>
            <td scope="row">{{client.tel}}</td>
            <td scope="row">{{client.birthDate}}</td>
            <td scope="row">{{client.maritalStatus}}</td>
            <td scope="row">{{client.postalCode}}</td>
            <td scope="row">{{client.address}}</td>
            <td scope="row"><a [routerLink]="['/alter', client.id]"><img src="../../../assets/images/edit.svg" alt="edit" ></a></td>
        </tr>
    </tbody>
</table>
